@import "./index.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.logo-main {
  width: 155px;
  height: 52px;
}

.MuiTypography-root {
  font-family: "Poppins", sans-serif !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
}

.MuiListItemButton-root.Mui-selected {
  background-color: #2c58c0 !important;
  color: #ffff;

  .MuiListItemIcon-root {
    color: #ffff;
  }
}
